<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>student</title>
</head>
<body>

<form action="#" th:action="@{/validate/student}" method="put">
    <tr>
        <td>Name:</td>
        <td><input type="text" th:text="${name}"/></td>
    </tr>
    <tr>
        <td>Age:</td>
        <td><input type="text" th:text="${age}"/></td>
    </tr>
    <tr>
        <td>
            <button type="submit">Submit</button>
        </td>
    </tr>
</form>

</body>
</html>